<a href="https://colab.research.google.com/github/MarianoBarciela/Comisi-n-74235-Data-Science-I-/blob/main/clase2/clase_2_practica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# clase 2 practica

In [6]:
nombre = 'mariano'
print (f'mi nombre es {nombre} y estoy aprendiendo ciencia de datos')

mi nombre es mariano y estoy aprendiendo ciencia de datos

In [87]:
edades= [25,30,50,200]
print (f'edad maxima:{max(edades)}')
print (f'edad promedio:{sum(edades)/len(edades):.2f}') # .2f quiere decir que se van a mostrar
#2 decimales # promedio suma de todo dividido cant de objetos

edad maxima:200
edad promedio:76.25

In [43]:
personas = {'ariel': 34, 'juan': 23, 'carla': 29, 'ramiro': 44}
for nombre,edad in personas.items():
 if edad > 30:
  print (f'{nombre} tiene {edad} años')

ariel tiene 34 años
ramiro tiene 44 años

In [66]:
def es_par(num):
 return num%2 == 0

print(es_par(1))

False

In [74]:
def contar_positivos(lista):
   return sum(1 for numero in lista if numero > 0 )

print(contar_positivos([3,6,8,0,0,0,0,-1,-9]))

3

In [84]:
class persona:
  def __init__(self,nombre,edad):
    self.nombre = nombre
    self.edad= edad

  def saludar(self):

      print(f'hola mi nombre es {self.nombre} y mi edad es {self.edad} años.')

juan= persona('juan',30)
juan.saludar()

hola mi nombre es juan y mi edad es 30 años.

In [100]:
class producto:
  def __init__(self,nombre,precio,categoria):
    self.nombre= nombre
    self.precio=precio
    self.categoria= categoria

  def mostrar_producto(self):
      print(f'el producto {self.nombre} tiene un valor de {self.precio} y entra dentro de la categoria {self.categoria}')

tijera= producto('tijera',50,'libreria')
tijera.mostrar_producto()

el producto tijera tiene un valor de 50 y entra dentro de la categoria libreria

In [119]:
# o bien usar return para poder utilizarlo mas tarde

class producto:
  def __init__(self,nombre,precio,categoria):
    self.nombre= nombre
    self.precio=precio
    self.categoria= categoria

  def mostrar_producto(self):
     return f"{self.nombre} (${self.precio}) Categoría: {self.categoria}"

p = producto("Notebook", 3500, "Electrónica")

print(p.mostrar_producto())

Notebook ($3500) Categoría: Electrónica

NameError: name 'Producto' is not defined